.feedback{
    background-color: $background-grey;
    padding: 80px 0;
}
.feedbackBlock{
    position: relative;
}
.feedbackBlock__items{
    display: flex;

    margin-top: 48px;
}
.feedbackBlock__items__one{
    max-width: 545px;
    min-height: 368px;
    position: relative;

    background-color: #fff;
    padding: 40px;

    margin-right: 30px;

    &:last-child{
        margin-right: 0;
    }


    h1{
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;

        margin-bottom: 12px;
    }

    h3{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 40px;
    }

    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    span{
        position: absolute;
        bottom: 40px;
        left: 40px;

        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #098FCF;
    }
}