.menu{
    background-color: $background-grey;
}
.menuBlock{
    height: 60px;

    display: flex;
    align-items: center;
}
.menuBlock__item{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    

    & + &{
        margin-left: 40px;
    }

    &:hover{
        opacity: 0.8;
    }
}
.menuBlock__item--list{
    display: flex;
    align-items: center;
    cursor: pointer;

    img{
        margin-left: 4px;
    }

}
